
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  background-image: linear-gradient(90deg,#5de0e6,#004aad);
min-height: 100vh;
}
.nav{
color: white;
font-size: 1.2rem;
font-family: 'Carter One', cursive;
margin-left: 25px;
cursor: pointer;
text-decoration: none;
}
.navbrand{
  font-family: 'Carter One', cursive;
  font-size: 1.7rem;
}
.nav:hover{
  color: white;
  transform: scale(1.2,1.2);
}
.container{
  display: flex;
  flex-direction: row;
justify-content: space-between;
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first>p{
  font-family:'Carter One', cursive; 
  font-size: 4rem;
  font-weight: 500;
  color: white;
  text-shadow: 3px 3px #ff3131;
 padding-bottom: 5rem;

}
.second{
display: flex;
justify-content: center;
align-items: center;
}

.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.third>a:hover{
cursor: pointer;
transform: rotate(320deg) scale(1.1,1.1);
}
.button{
  background-image: linear-gradient(90deg,#ff3131,#ff914d);
  color: white;
  font-family:'Carter One', cursive; 
  border: none;
  font-size: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-top: 1rem;
}
.changetext::before{
  content: "Mern Stack";
  animation: animate infinite 6s;
}
.code{
  height: 30rem;
  width: 40rem;
}
.down{
  width:3rem;
  height: 3rem;
}
.git{
width: 9rem;
height: 5rem;
}
.linkd{
  width: 4rem;
  height: 4rem;
}
.twit{
  width: 5rem;
  height: 5rem;
}
.email{
  width: 5rem;
  height: 5rem;
}
@keyframes animate {
  
  0% {
      content: "Mern Stack";
  }

  50% {
      content: "Node Js";
  }

  75% {
      content: "Next Js";
  }

}
<<<<<<< HEAD
@media (min-width: 360px) and (max-width:1250px ) {
=======
@media (min-width: 360px) and (max-width:980px ) {
>>>>>>> 4c50e1015eacff4fd691fa2a6e98469dcd7d1170
  .main{
    min-height: fit-content;
    padding-left:3rem;
    padding-right:3rem
  }
  .first>p{
    font-size: 30px;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .button{
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }
  .code{
    height: 270px;
    width: 240px;
  }
  .down{
    height: 30px;
    width: 30px;
  }
  .git{
    width: 4.5rem;
    height: 2.5rem;
    }
    .linkd{
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 12px;
    }
    .twit{
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 12px;
    }
    .email{
      width: 2.5rem;
      height: 2.5rem;
    }
    .third{
      flex-direction: row;
      gap: 0rem;
      padding-bottom: 25px;
    }
}

